<%- include('header.html') -%>

  <section class="debugger-jwt" id="debugger-io">
    <form action="/submit?state=<%= state %>" method="post" id="form1">
      <input type="hidden" name="iss" id="iss" value="<%=iss %>" />
      <input type="hidden" name="sub" id="sub" value="<%=sub %>" />
      <input type="hidden" name="exp" id="exp" value="<%=exp %>" />
      <div class="container">
        <h1>Auth0 Redirect Action Debugger</h1>
        <h1><small> Usage: <a href="https://github.com/sasaki-san/auth0-redirect-action-debugger">https://github.com/sasaki-san/auth0-redirect-action-debugger</a></small></h1>

        <div class="jwt-playground">
          <div class="algorithm-code">
            <div class="tab-nav">
              <div class="tab-link"><a href="#">Redirect Parameters</a></div>
              <div class="tab-link"><a href="#">Continue Parameters</a></div>
            </div>
            <div class="tab-content">
              <div class="box-content" id="redirect-params" heap-ignore="true">
                <div class="output">
                  <div class="jwt-explained jwt-header">
                    <p class="text-line">STATE</p>
                    <div class="js-header">
                      <div class="CodeMirror cm-s-default CodeMirror-wrap readonly">
                        <div
                          style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 24px; left: 24px;">
                          <textarea autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0"
                            style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;"></textarea>
                        </div>
                        <div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-gutter-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-scroll" tabindex="-1">
                          <div class="CodeMirror-sizer"
                            style="margin-left: 0px; margin-bottom: 0px; border-right-width: 50px; min-height: 92px; padding-right: 0px; padding-bottom: 0px;">
                            <div style="position: relative; top: 0px;">
                              <div class="CodeMirror-lines" role="presentation">
                                <div role="presentation" style="position: relative; outline: none;">
                                  <div class="CodeMirror-measure"><span><span>​</span>x</span></div>
                                  <div class="CodeMirror-measure"></div>
                                  <div style="position: relative; z-index: 1;"></div>
                                  <div class="CodeMirror-cursors">
                                    <div class="CodeMirror-cursor" style="left: 4px; top: 0px; height: 21px;">&nbsp;
                                    </div>
                                  </div>
                                  <div class="CodeMirror-code" role="presentation">
                                    <input hidden id="state" value="<%=state %>" />
                                    <!-- Code starts here -->
                                    <% (state||"").split(/\r?\n/).forEach(function(line){ %>
                                      <pre class=" CodeMirror-line " role="presentation"
                                        style="padding-right: 0.1px;"><span role="presentation" ><%=line %></span></pre>
                                      <% }) %>
                                        <!-- Code ends here -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="position: absolute; height: 50px; width: 1px; border-bottom: 0px solid transparent; top: 92px;">
                          </div>
                          <div class="CodeMirror-gutters" style="display: none; height: 142px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jwt-explained jwt-payload">
                    <p class="text-line">DATA</p>
                    <div class="js-payload">
                      <div class="CodeMirror cm-s-default CodeMirror-wrap readonly">
                        <div
                          style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 24px; left: 24px;">
                          <textarea autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0"
                            style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;"></textarea>
                        </div>
                        <div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-gutter-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-scroll" tabindex="-1">
                          <div class="CodeMirror-sizer"
                            style="margin-left: 0px; margin-bottom: 0px; border-right-width: 50px; min-height: 113px; padding-right: 0px; padding-bottom: 0px;">
                            <div style="position: relative; top: 0px;">
                              <div class="CodeMirror-lines" role="presentation">
                                <div role="presentation" style="position: relative; outline: none;">
                                  <div class="CodeMirror-measure">
                                    <pre class="CodeMirror-line-like"><span>xxxxxxxxxx</span></pre>
                                  </div>
                                  <div class="CodeMirror-measure"></div>
                                  <div style="position: relative; z-index: 1;"></div>
                                  <div class="CodeMirror-cursors">
                                    <div class="CodeMirror-cursor" style="left: 4px; top: 0px; height: 21px;">&nbsp;
                                    </div>
                                  </div>
                                  <div class="CodeMirror-code" role="presentation" style="">
                                    <!-- Code starts here -->
                                    <% (data||"").split(/\r?\n/).forEach(function(line){ %>
                                      <pre class=" CodeMirror-line " role="presentation"
                                        style="padding-right: 0.1px;"><span role="presentation" ><%=line %></span></pre>
                                      <% }) %>
                                        <!-- Code ends here -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="position: absolute; height: 50px; width: 1px; border-bottom: 0px solid transparent; top: 113px;">
                          </div>
                          <div class="CodeMirror-gutters" style="display: none; height: 163px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jwt-explained jwt-payload">
                    <p class="text-line">DEBUG</p>
                    <div class="js-payload">
                      <div class="CodeMirror cm-s-default CodeMirror-wrap readonly">
                        <div
                          style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 24px; left: 24px;">
                          <textarea autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0"
                            style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;"></textarea>
                        </div>
                        <div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-gutter-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-scroll" tabindex="-1">
                          <div class="CodeMirror-sizer"
                            style="margin-left: 0px; margin-bottom: 0px; border-right-width: 50px; min-height: 113px; padding-right: 0px; padding-bottom: 0px;">
                            <div style="position: relative; top: 0px;">
                              <div class="CodeMirror-lines" role="presentation">
                                <div role="presentation" style="position: relative; outline: none;">
                                  <div class="CodeMirror-measure">
                                    <pre class="CodeMirror-line-like"><span>xxxxxxxxxx</span></pre>
                                  </div>
                                  <div class="CodeMirror-measure"></div>
                                  <div style="position: relative; z-index: 1;"></div>
                                  <div class="CodeMirror-cursors">
                                    <div class="CodeMirror-cursor" style="left: 4px; top: 0px; height: 21px;">&nbsp;
                                    </div>
                                  </div>
                                  <div class="CodeMirror-code" role="presentation" style="">
                                    <!-- Code starts here -->
                                    <% (debug||"").split(/\r?\n/).forEach(function(line){ %>
                                      <pre class=" CodeMirror-line " role="presentation"
                                        style="padding-right: 0.1px;"><span role="presentation" ><%=line %></span></pre>
                                      <% }) %>
                                        <!-- Code ends here -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="position: absolute; height: 50px; width: 1px; border-bottom: 0px solid transparent; top: 113px;">
                          </div>
                          <div class="CodeMirror-gutters" style="display: none; height: 163px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-content" id="continue-params" heap-ignore="true">
                <div class="output">
                  <div class="jwt-explained jwt-header continue-input">
                    <p class="text-line">DATA TO SEND:<span>JSON-fomatted data to send back</span></p>
                    <div class="js-header">
                      <div class="CodeMirror cm-s-default CodeMirror-wrap" style="margin: 0px;">
                        <div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-gutter-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-scroll" tabindex="-1">
                          <div class="CodeMirror-sizer"
                            style="margin-left: 0px; margin-bottom: 0px; border-right-width: 50px; min-height: 92px; padding-right: 0px; padding-bottom: 0px;">
                            <div style="position: relative; top: 0px;">
                              <div class="CodeMirror-lines" role="presentation">
                                <div role="presentation" style="position: relative; outline: none;">
                                  <div class="CodeMirror-measure"><span><span>​</span>x</span></div>
                                  <div class="CodeMirror-measure"></div>
                                  <div style="position: relative; z-index: 1;"></div>
                                  <div class="CodeMirror-cursors">
                                    <div class="CodeMirror-cursor" style="left: 4px; top: 0px; height: 21px;">&nbsp;
                                    </div>
                                  </div>
                                  <div class="CodeMirror-code" role="presentation">
                                    <textarea autocorrect="off" autocapitalize="off" spellcheck="false" id="newData"
                                      name="newData" onkeyup="processChange()"><%=newData %></textarea>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="position: absolute; height: 50px; width: 1px; border-bottom: 0px solid transparent; top: 92px;">
                          </div>
                          <div class="CodeMirror-gutters" style="display: none; height: 142px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jwt-explained jwt-payload continue-input">
                    <p class="text-line">DATA SIGNING SECRET:<span>Provide a secret value to sign the data</span></p>
                    <div class="js-payload">
                      <div class="CodeMirror cm-s-default CodeMirror-wrap">
                        <div
                          style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 24px; left: 24px;">
                          <textarea autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0"
                            style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;"></textarea>
                        </div>
                        <div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-gutter-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-scroll" tabindex="-1">
                          <div class="CodeMirror-sizer"
                            style="margin-left: 0px; margin-bottom: 0px; border-right-width: 50px; min-height: 113px; padding-right: 0px; padding-bottom: 0px;">
                            <div style="position: relative; top: 0px;">
                              <div class="CodeMirror-lines" role="presentation">
                                <div role="presentation" style="position: relative; outline: none;">
                                  <div class="CodeMirror-measure">
                                    <pre class="CodeMirror-line-like"><span>xxxxxxxxxx</span></pre>
                                  </div>
                                  <div class="CodeMirror-measure"></div>
                                  <div style="position: relative; z-index: 1;"></div>
                                  <div class="CodeMirror-cursors">
                                    <div class="CodeMirror-cursor" style="left: 4px; top: 0px; height: 21px;">&nbsp;
                                    </div>
                                  </div>
                                  <div class="CodeMirror-code" role="presentation">
                                    <div class="CodeMirror-code" role="presentation">
                                      <input id="secret" name="secret" value="<%=secret %>" onkeyup="processChange()" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="position: absolute; height: 50px; width: 1px; border-bottom: 0px solid transparent; top: 113px;">
                          </div>
                          <div class="CodeMirror-gutters" style="display: none; height: 142px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jwt-explained jwt-payload continue-input">
                    <p class="text-line">DATA PARAMETER KEY:<span>Specify the query string key for the data</span></p>
                    <div class="js-payload">
                      <div class="CodeMirror cm-s-default CodeMirror-wrap">
                        <div class="CodeMirror-scroll" tabindex="-1">
                          <div class="CodeMirror-sizer"
                            style="margin-left: 0px; margin-bottom: 0px; border-right-width: 50px; min-height: 113px; padding-right: 0px; padding-bottom: 0px;">
                            <div style="position: relative; top: 0px;">
                              <div class="CodeMirror-lines" role="presentation">
                                <div role="presentation" style="position: relative; outline: none;">
                                  <div class="CodeMirror-measure">
                                    <pre class="CodeMirror-line-like"><span>xxxxxxxxxx</span></pre>
                                  </div>
                                  <div class="CodeMirror-measure"></div>
                                  <div style="position: relative; z-index: 1;"></div>
                                  <div class="CodeMirror-cursors">
                                    <div class="CodeMirror-cursor" style="left: 4px; top: 0px; height: 21px;">&nbsp;
                                    </div>
                                  </div>
                                  <div class="CodeMirror-code" role="presentation">
                                    <input value="<%=token_key %>" id="token_key" name="token_key"
                                      onkeyup="processChange()" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="position: absolute; height: 50px; width: 1px; border-bottom: 0px solid transparent; top: 113px;">
                          </div>
                          <div class="CodeMirror-gutters" style="display: none; height: 142px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jwt-explained jwt-payload continue-input">
                    <p class="text-line">AUTH0 DOMAIN</p>
                    <div class="js-payload">
                      <div class="CodeMirror cm-s-default CodeMirror-wrap">
                        <div
                          yle="overflow: hidden; position: relative; width: 3px; height: 0px; top: 24px; left: 24px;">
                          <textarea autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0"
                            style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;"></textarea>
                        </div>
                        <div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-gutter-filler" cm-not-content="true"></div>
                        <div class="CodeMirror-scroll" tabindex="-1">
                          <div class="CodeMirror-sizer"
                            style="margin-left: 0px; margin-bottom: 0px; border-right-width: 50px; min-height: 113px; padding-right: 0px; padding-bottom: 0px;">
                            <div style="position: relative; top: 0px;">
                              <div class="CodeMirror-lines" role="presentation">
                                <div role="presentation" style="position: relative; outline: none;">
                                  <div class="CodeMirror-measure">
                                    <pre class="CodeMirror-line-like"><span>xxxxxxxxxx</span></pre>
                                  </div>
                                  <div class="CodeMirror-measure"></div>
                                  <div style="position: relative; z-index: 1;"></div>
                                  <div class="CodeMirror-cursors">
                                    <div class="CodeMirror-cursor" style="left: 4px; top: 0px; height: 21px;">&nbsp;
                                    </div>
                                  </div>
                                  <div class="CodeMirror-code" role="presentation">
                                    <div class="CodeMirror-code" role="presentation">
                                      <input id="domain" name="domain" onkeyup="processChange()" value="<%=domain %>" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="position: absolute; height: 50px; width: 1px; border-bottom: 0px solid transparent; top: 113px;">
                          </div>
                          <div class="CodeMirror-gutters" style="display: none; height: 163px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jwt-explained jwt-payload">
                    <p class="text-line">CONTINUE URL:<span>Resulting URL</span></p>
                    <div class="js-payload">
                      <div class="CodeMirror cm-s-default CodeMirror-wrap readonly">
                        <div class="CodeMirror-scroll" tabindex="-1">
                          <div class="CodeMirror-sizer"
                            style="margin-left: 0px; margin-bottom: 0px; border-right-width: 50px; min-height: 113px; padding-right: 0px; padding-bottom: 0px;">
                            <div style="position: relative; top: 0px;">
                              <div class="CodeMirror-lines" role="presentation">
                                <div role="presentation" style="position: relative; outline: none;">
                                  <div class="CodeMirror-measure">
                                    <pre class="CodeMirror-line-like"><span>xxxxxxxxxx</span></pre>
                                  </div>
                                  <div class="CodeMirror-measure"></div>
                                  <div style="position: relative; z-index: 1;"></div>
                                  <div class="CodeMirror-cursors">
                                    <div class="CodeMirror-cursor" style="left: 4px; top: 0px; height: 21px;">&nbsp;
                                    </div>
                                  </div>

                                  <div class="CodeMirror-code" role="presentation">
                                    <input type="hidden" id="continue_url" name="continue_url"
                                      value="<%=continue_url %>" />
                                    <!-- Code starts here -->
                                    <pre class=" CodeMirror-line " role="presentation"
                                      style="padding-right: 0.1px;"><span role="presentation" id="continue_url_code" ><%=continue_url %></span></pre>
                                    <!-- Code ends here -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                            style="position: absolute; height: 50px; width: 1px; border-bottom: 0px solid transparent; top: 113px;">
                          </div>
                          <div class="CodeMirror-gutters" style="display: none; height: 142px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="debugger-footer container">
            <div class="row">
              <div class="col-xs-6">
              </div>
              <div class="col-xs-6 website-share"><button class="btn"><span>CONTINUE</span></button></div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </section>

  <script>

    function debounce(func, timeout = 300) {
      let timer;
      return (...args) => {
        clearTimeout(timer);
        timer = setTimeout(() => { func.apply(this, args); }, timeout);
      };
    }

    function httpGet(theUrl) {
      let xmlHttpReq = new XMLHttpRequest();
      xmlHttpReq.open("GET", theUrl, false);
      xmlHttpReq.send(null);
      return xmlHttpReq.responseText;
    }

    function updateContinueUrl() {
      let iss, sub, exp, state, domain, newData, secret, token_key;
      iss = document.getElementById("iss").value
      sub = encodeURIComponent(document.getElementById("sub").value)
      exp = encodeURIComponent(document.getElementById("exp").value)
      state = encodeURIComponent(document.getElementById("state").value)
      domain = document.getElementById("domain").value
      newData = encodeURIComponent(document.getElementById("newData").value)
      secret = encodeURIComponent(document.getElementById("secret").value)
      token_key = encodeURIComponent(document.getElementById("token_key").value)
      const apiUrl = `/continue-url?iss=${iss}&sub=${sub}&exp=${exp}&state=${state}&domain=${domain}&newData=${newData}&secret=${secret}&token_key=${token_key}`
      try {
        const continueUrl = JSON.parse(httpGet(apiUrl)).url
        document.getElementById("continue_url_code").textContent =
          document.getElementById("continue_url").value = continueUrl
      } catch (e) {
        document.getElementById("continue_url").textContent = e
      }
    }

    const processChange = debounce(() => updateContinueUrl());

  </script>

  <%- include('footer.html') -%>