<%- include('header.html') -%>

  <h1><%= title %></h1>
  <ul id="users">
    <li>State: <%= state %>
    </li>
    <li>Token: <%= token %>
    </li>
    <li>Origin: <%= origin %>
    </li>
  </ul>
  <form action="/submit?state=<%= state %>" method="post" id="form1">
    <label for="data">Data to send:</label>
    <textarea type="textarea" id="data" name="data"></textarea><br><br>
    <label for="secret">Secret:</label>
    <input type="text" id="secret" name="secret"><br><br>
    <label for="data">Auth0 domain:</label>
    <input type="text" id="domain" name="domain" value="<%= origin %>"><br><br>
    <label for="token_key">Token Key:</label>
    <input type="text" id="token_key" name="token_key" value="session_token"><br><br>
    <button type="submit" form="form1" value="Submit">Continue</button>
  </form>

  <%- include('footer.html') -%>